*{
    margin: 0;
    padding: 0;

}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 

}
.cabecalho {
    background-color: #75a85d;
    color: rgb(37, 102, 43);
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 50px 0;
}

.cabecalho-imagem{
    width: 50%;

}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}    

.sobre_corinthians{
    background-image: linear-gradient(#9dbe8e,#4daa64b4);
    color:#44622f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.sobre_corinthians-imagem{
    width: 20%;
}

